# Backupfiles from mergetools #
*.orig

# Java Class Files #
*.class

# Package Files #
*.jar
*.zip

*.log

# Eclipse #
code/.project
code/.settings
bin
classes

# Maven #
target/
.surefire-*
.flattened-pom.xml

# Node #
node_modules

# Scout #
dist
test-results
pnpm-lock.yaml

# IntelliJ IDEA #
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/shelf
.idea/sonarlint
.idea/**/dataSources/
.idea/**/dataSources.local.xml
.idea/httpRequests/
